<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instagram </title>
</head>

<body>
    <h1>Github Finder</h1>
    <div>
        <form action="/home" method="POST">
            <div>
                <label> Enter Name:</label>
                <input type="text" name="name">
            </div>
            <input type="submit" value="search">

        </form>
    </div>
    <div >
        <h3 >{{ datetoday }} | <span id="clock"></span></h3>
    </div>
    <div>
        <ul>
            {% for user in data %}
            <li>
                <div >
                    <a href="/search?username={{ user.login }}">
                        <img src="{{user.avatar_url}}" alt="img">
                    </a>
                    <a href="/search?username={{user.login}}">{{user.login}}</a>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
      <script type="text/javascript">
        var clockElement = document.getElementById('clock');
        function clock() {
            clockElement.textContent = new Date().toString().slice(15, 24);
        }
        setInterval(clock, 1000);
    </script>
</body>

</html>
