<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instagram </title>
</head>

<body>
    <h1>Github Finder</h1>
    <p>Search by name:</p>
    <form action="/search" id="searchForm" method="post">
        <div>
            <label> Enter Name:</label>
            <input type="text" name="name">
        </div>
        <input type="submit" value="search">
    </form>
    <div id="searchResult"> </div>
</body>

</html>