<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div >
        <h3 style="font-size: 22px;color:rgb(7, 40, 138);">{{ datetoday2 }} | <span id="clock"></span></h3>
    </div>
    
    <img src="{{base_info.avatar_url}}" alt="img">
    <h1> {{ base_info.name }}</h1>
    <h1>{{ base_info.bio }}</h1>
    <h1>{{ base_info.location }}</h1>
    <h1>Following : {{ base_info.following }}</h1>
    <h1>Followers : {{ base_info.followers }}</h1>
    <h1>Public_repositories : {{ base_info.public_repos}}</h1>
    <h1>Blog: <a href="{{ base_info.blog }}">{{ base_info.blog}}</a></h1>
    <h1> <a href="{{base_info.html_url }}">Visit GitHub</a></h1>

    <h1>Repositories : </h1>

    <ul>
        {% for repo in repos_info %}
            <li><a href="{{ repo.html_url }}">{{ repo.name }}</a></li>
        {% endfor %}
    </ul>
     <script type="text/javascript">
        var clockElement = document.getElementById('clock');
        function clock() {
            clockElement.textContent = new Date().toString().slice(15, 24);
        }
        setInterval(clock, 1000);
    </script>

</body>

</html>
