<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    
    <img src="{{base_info.avatar_url}}" alt="img">
    <h1> {{ base_info.name }}</h1>
    <h1>{{ base_info.bio }}</h1>
    <h1>{{ base_info.location }}</h1>
    <h1>Following : {{ base_info.following }}</h1>
    <h1>Followers : {{ base_info.followers }}</h1>
    <h1>Public_repositories : {{ base_info.public_repos}}</h1>
    <h1>Blog: <a href="{{ base_info.blog }}">{{ base_info.blog}}</a></h1>
    <h1> <a href="{{base_info.html_url }}">Visit GitHub</a></h1>

    <h1>Repositories : </h1>

    <ul>
        {% for repo in repos_info %}
            <li><a href="{{ repo.html_url }}">{{ repo.name }}</a></li>
        {% endfor %}
    </ul>

</body>

</html>
